<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated tc6_xml_v201 -->
      <package
            uri="http://www.plcopen.org/xml/tc6_0201"
            class="org.plcopen.xml.tc60201.Tc60201Package"
            genModel="model/tc6_xml_v201.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.extension_parser">
      <!-- @generated tc6_xml_v201 -->
      <parser
            type="tc60201"
            class="org.plcopen.xml.tc60201.util.Tc60201ResourceFactoryImpl"/>
      <parser
            type="xml"
            class="org.plcopen.xml.tc60201.util.Tc60201ResourceFactoryImpl"/>
   </extension>

</plugin>
